<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if Helpers.is_logged_in?(session) %>
      <%= "Account Name: " User.current_user(session).name %>
      <%= "Your Balance: " @user.balance %>
      <% else >
      <%= "Back to Home page" %>
      <a href="/">Home</a>
      <% end >
  </body>
</html>
