<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if User.is_logged_in? %>
      <%= Account Name: User.current_user.Name %>
      <br>
      <%= Your balance is: @user.balance %>

      else
    <a href="/logout">Log Out</a>

  </body>
</html>
