<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <% if User.is_logged_in? %>
      <%= "Account Name: " User.current_user.Name %>
      <%= "Your Balance: " @user.balance %>
      <% else >
      <%= "Back to Home page" User.current_user.Name %>
    <a href="/home">Log Out</a>

  </body>
</html>
